body {
  background-color: #000000;
  color: #333;
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.social-icon {
  font-size: 32px;
  color: #ffffff;
  margin-right: 15px;
  transition: transform 0.3s ease;
  text-decoration: none;
}
.profile-image {
  width: 100%;
  max-width: 500px;
  border-radius: 0%;
  object-fit: cover;
}
.social-bar {
  margin-top: 2rem;
  padding: 1rem;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.social-bar a {
  margin: 0 30px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-bar a:hover {
  color: #f39c12;
}

.introduction {
  font-size: 1.8rem;
  line-height: 1.6;
  color: whitesmoke;
}
.social-icon:hover {
  transform: scale(1.2);
  color: #f39c12;
}
.nav-link {
  position: relative;
  color: #fff;
  padding-bottom: 5px; 
  text-decoration: none;
}
.Skills
{
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  
}
.logo-img {
  height: 60px;
  width: auto;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color:#f39c12;
  transition: width 0.3s ease;
}
.skill-box {
  color: #fff;
}
.skill-box h5 {
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
}
.col
{
  font-size: 1.3rem;
}
.page-title
{
  color: #ffffff;
}
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
.nav-link:hover {
  color: #f39c12;
}
.custom-navbar
{
  background-color: rgb(0, 0, 0);
}
.page-banner {
  height: 120px;
  background-image: url('images/LOGO.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  font-weight: bold;
  font-size: 2.5rem;
}
h1 {
  font-weight: 700;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}
