body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #cdcdcd;
  color: #333;
  font-family: "Jersey 10", sans-serif;
}
.social-icon {
  font-size: 32px;
  color: #ffffff;
  margin-right: 15px;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  transform: scale(1.2);
  color: rgb(67, 168, 67);
}
.nav-link
{
  color: beige;
}
.custom-navbar
{
  background-color: rgb(67, 168, 67);
}
h1 {
  font-weight: 700;
}
.profile-image {
  max-width: 100%;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Optional shadow for pop */
}