body {
  background-color: #000000;
  color: #333;
  font-family: "Jersey 10", sans-serif;
}
.social-icon {
  font-size: 32px;
  color: #ffffff;
  margin-right: 15px;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  transform: scale(1.2);
  color: rgb(67, 168, 67);
}
.nav-link {
  position: relative;
  color: #fff;
  padding-bottom: 5px; 
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color:#f39c12;
  transition: width 0.3s ease;
}
.page-title
{
  color: #f39c12;
}
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
.nav-link:hover {
  color: #f39c12;
}
.custom-navbar
{
  background-color: rgb(0, 0, 0);
}
.page-banner {
  height: 120px;
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  font-weight: bold;
  font-size: 2.5rem;
}
h1 {
  font-weight: 700;
}
.profile-image {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}